@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container my-5">
    <h2>Você não têm permissão para acessar esta página!</h2>
    <br />
    <a class="btn btn-close-white bg-white"  asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
</div>